<div class="contact">

  <p>There are <%= @collection.size %> contacts.</p>

  <% @collection.each do |each| %>

    <div class="block"><ul>
      <li><%= each.full_name.titlecase%> (<%= each.email%>)
      <li>
        <a href=<%= "contacts/"+each.id.to_s %>> More info.</a>
      </li>
    </ul></div>

  <% end %>
</div>
