<div class="contact">

  <p>There are <%= @collection.size %> contacts.</p>

  <% @collection.each do |each| %>

    <div class="block"><ul>
      <li><%= each.full_name.titlecase%> (<%= each.email%>)
      <li >Notes: <%= each.note%></li>
    </ul></div>

  <% end %>
</div>
