
<div class="contact">
  <p><%= @contact.full_name.titlecase %></p>
  <div class= "block">
    <ul>
      <li>Email: <%= @contact.email %></li>
      <li>Notes: <%= @contact.note %></li>
    </ul>
  </div>
</div>
